a    
	{
	text-decoration: none; 
	color: black;
	}



body
	{
    	font-family: 'Trebuchet MS', Arial, sans-serif;
	background-color: #fff6d8;
	margin: 0px auto;
	}

.odkaz1
	{
	text-align: right;
	font-size: 30px;
	margin: 2px 120px 2px 60px;
	text-decoration: none;
	}

.odkaz2
	{
	color: red;
	font-size: 13px;
	}

#vedle
	{
    	background-color: #706b64;
	color: #f2efe3;
	width: 20%;
	margin: 2px 20px 2px 20px;
	border-style: solid;
	border-color: black;
	}

#clanek
	{
	width: 60%;
	margin: 2px 20px 2px 20px;
	text-align: justify;
	}

#obr
	{
	text-align: center;
	}

#content 
	{
  	flex-basis: auto;
  	flex-grow: 1;
  	flex-shrink: 0;
	}

footer 
	{
	margin: 0px auto;
	}

.box1 
	{
  	float: left;
  	width: 33.33%;
	}

.box2 
	{
 	float: left;
 	width: 50%;
  	padding: 20px;
	text-align: justify;
	}

.clearfix:after 
	{
 	 content: "";
  	clear: both;
  	display: table;
	}